/* Common Set-up */
:root {
  /* font-size */
  --font-larger: 48px;
  --font-medium: 32px;
  --font-regular: 16px;
  --font-small: 12px;
  --font-micro: 8px;

  /* Color */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light-black: #263038;
  --color-deep-blueblack: #1b252f;
  --color-light-blueblack: #252a34;
  --color-deep-pink: #e31c6d;
  --color-light-greenblue: #08c2c9;
  --color-deep-greenblue: #09a1a6;
  --color-grey: #44474a;
  --color-light-grey: #f5f5f5;

  /* Space */
  --space-larger: 48px;
  --space-medium: 32px;
  --space-regular: 16px;
  --space-small: 12px;
  --space-micro: 8px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  --weight-lighter: 200;
}
