/* Common Set-up */
:root {
  /* font-size */
  --font-larger: 48px;
  --font-medium: 32px;
  --font-regular: 16px;
  --font-small: 12px;
  --font-micro: 8px;

  /* Color */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light-black: #263038;
  --color-deep-blueblack: #1b252f;
  --color-light-blueblack: #252a34;
  --color-deep-pink: #e31c6d;
  --color-light-greenblue: #08c2c9;
  --color-deep-greenblue: #09a1a6;
  --color-grey: #44474a;
  --color-light-grey: #f5f5f5;
  --color-yellow: #c9bc1f;

  /* Space */
  --space-larger: 48px;
  --space-medium: 32px;
  --space-regular: 16px;
  --space-small: 12px;
  --space-micro: 8px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  --weight-lighter: 200;
}

/* Navigation bar */

nav.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-light-blueblack);
  color: var(--color-white);
  padding: var(--space-regular);
  width: 100%;
  position: fixed;
  /* sticky(tblr필수 지정)로도 할 수 있지만(스크롤박스 전용) 뷰 포트내에서 고정하면 되는 네비게이션 바라서
  그냥 fixed로 고정하였다. */
  z-index: 1;
  /* position 성질을 줄 때는 z-index 고려해주자!
     안 넣으면 뒤로 넘어감... 숫자가 클수록 높이 떠 있는거 */
}

.navbar__left {
  display: inline-block;
  color: var(--color-white);
  font-size: calc(var(--font-small) * 1.5);
}

.navbar__right {
  display: flex;
  margin: auto 0;
  position: relative;
}

.fa-bars {
  display: none;
}

.navbar__right li {
  font-size: var(--font-regular);
  padding: 0 var(--space-small);
  font-size: calc(var(--font-small) * 1.5);
}

.navbar__right button {
  background-color: var(--color-light-blueblack);
  color: var(--color-white);
  font-size: var(--font-regular);
  font-size: calc(var(--font-small) * 1.5);
  outline: 0;
  border: 0;
}

.navbar__right button:active {
  color: var(--color-deep-pink);
  transition: 0.5s;
  cursor: pointer;
}

.navbar__left:hover {
  color: var(--color-deep-pink);
  transition: 0.5s;
}

/* Home */
.home {
  background: url(./Img/background.jpg) repeat center / cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 600px;
}

.home h1 {
  font-size: var(--font-medium);
  margin: 0 auto;
}

.highlight {
  color: #e31c6d;
  display: inline-block;
}

.home button {
  font-size: larger;
  margin: var(--space-larger) 0;
  padding: var(--space-small);
  border: 2px white solid;
  background-color: transparent;
  color: white;
}

.home button:hover {
  cursor: pointer;
  border-radius: 5px;
  border: 2px var(--color-light-greenblue) solid;
  background-color: var(--color-light-greenblue);
  transition: all 0.5s;
}
.home button:hover i {
  transform: rotate(90deg);
  transition: all 0.5s;
}

@media screen and (max-width: 720px) {
  .home > h1 {
    font-size: calc(var(--font-small) * 2);
  }

  .navbar__right li {
    display: none;
  }
  .fa-bars {
    display: unset;
  }
}

/* About */
.about {
  min-height: 600px;
}

.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 848px;
  margin: 0 auto;
  padding-bottom: var(--space-larger);
}

.about h2 {
  padding: var(--space-medium);
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
}

.advantages {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.advantages li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon__box {
  height: 148px;
  width: 148px;
  position: relative;
  background-color: var(--color-light-greenblue);
  border-radius: 50%;
  color: white;
}

.fas.fa-tachometer-alt {
  background-color: transparent;
  font-size: var(--font-larger);
  position: absolute;
  top: 50px;
  right: 47px;
}

.fas.fa-laptop-house {
  background-color: transparent;
  font-size: var(--font-larger);
  position: absolute;
  top: 50px;
  right: 44px;
}

.fas.fa-tasks {
  background-color: transparent;
  font-size: var(--font-larger);
  position: absolute;
  top: 50px;
  right: 50px;
}

.fas.fa-handshake {
  background-color: transparent;
  font-size: var(--font-larger);
  position: absolute;
  top: 50px;
  right: 44px;
}

ul.advantages li:hover {
  transform: scale(1.5);
}

.advantages li:hover i {
  transform: scale(2) rotate(360deg);
  color: var(--color-deep-pink);
  transition: all 1s;
}

.advantages li h3 {
  color: var(--color-grey);
  padding: var(--space-small);
}

.advantages li p {
  color: var(--color-grey);
  font-size: var(--font-small);
  font-weight: var(--weight-lighter);
  padding: 0 0 calc(var(--space-larger) * 1.5) 0;
}

.profile {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.profile__left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__left img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.profile__left h3 {
  padding: var(--space-regular) 0;
  font-weight: var(--weight-bold);
}

.profile__left p {
  font-size: var(--font-small);
  color: var(--color-grey);
  font-weight: var(--weight-lighter);
  margin-bottom: var(--space-larger);
}

.profile__right {
  width: 424px;
  height: 240px;
}
.profile__right ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}

.profile__right li {
  width: 100%;
  display: flex;
  position: relative;
  line-height: 32px;
  height: var(--space-medium);
  background-color: var(--color-light-grey);
}

.profile__right span {
  position: absolute;
  right: 0;
}

.skill div {
  height: 100%;
}

div.skill__name {
  width: 20%;
  text-align: center;
  background-color: var(--color-light-greenblue);
  color: white;
}

.skill__html {
  width: 30%;
  background-color: var(--color-deep-greenblue);
}

.skill__css {
  width: 30%;
  background-color: var(--color-deep-greenblue);
}

.skill__javascript {
  width: 8%;
  background-color: var(--color-deep-greenblue);
}

.skill__react {
  width: 3%;
  background-color: var(--color-deep-greenblue);
}

.skill__python {
  width: 3%;
  background-color: var(--color-deep-greenblue);
}

/* Projects */

.projects {
  background-color: var(--color-light-grey);
  display: flex;
  flex-direction: column;
}

.projects__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 848px;
  margin: 0 auto;
  padding-bottom: var(--space-larger);
}

.projects h2 {
  padding: var(--space-larger);
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
}

.project__bar {
  display: flex;
  justify-content: space-around;
  margin-bottom: var(--space-regular);
}

.project__bar li {
  padding: var(--space-micro);
  border-radius: 5px;
  width: 100px;
  text-align: center;
  font-size: var(--font-regular);
  font-weight: var(--weight-lighter);
}

.project__bar li:hover {
  background-color: var(--color-deep-pink);
  transition: all 0.5s;
}

.projects__box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 719px;
}

.projects__box img {
  width: 240px;
  height: 240px;
  display: block;
}
/* Contact */

.contact {
  background-color: var(--color-deep-blueblack);
  color: var(--color-white);
  padding: var(--space-larger) 0;
}

.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 848px;
}

.contact h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  padding-bottom: var(--space-medium);
}

.contact__route p {
  padding: calc(var(--space-micro) / 2) 0;
  font-size: var(--space-regular);
}
