/* Common Set-up */
:root {
  /* font-size */
  --font-larger: 48px;
  --font-medium: 32px;
  --font-regular: 16px;
  --font-small: 12px;
  --font-micro: 8px;

  /* Color */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light-black: #263038;
  --color-deep-blueblack: #1b252f;
  --color-light-blueblack: #252a34;
  --color-deep-pink: #e31c6d;
  --color-light-greenblue: #08c2c9;
  --color-deep-greenblue: #09a1a6;
  --color-grey: #44474a;
  --color-light-grey: #f5f5f5;
  --color-yellow: #c9bc1f;

  /* Space */
  --space-larger: 48px;
  --space-medium: 32px;
  --space-regular: 16px;
  --space-small: 12px;
  --space-micro: 8px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  --weight-lighter: 200;
}

/* Navigation bar */

nav.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-light-blueblack);
  color: var(--color-white);
  padding: var(--space-regular);
  width: 100%;
}

.navbar__left {
  display: inline-block;
  color: var(--color-white);
  font-size: calc(var(--font-small) * 1.5);
}

.navbar__right {
  display: flex;
  margin: auto 0;
}

.navbar__right li {
  font-size: var(--font-regular);
  padding: 0 var(--space-regular);
  font-size: calc(var(--font-small) * 1.5);
}

/* Home */
.home {
  background-image: url(./Img/background.jpg);
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.home h1 {
  font-size: var(--font-medium);
  margin: var(--space-larger) auto;
}

.highlight {
  color: #e31c6d;
  display: inline-block;
}

.home button {
  font-size: larger;
  margin: var(--space-larger) 0;
  padding: var(--space-small);
  border: 2px white solid;
  background-color: transparent;
  color: white;
}

/* About */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 848px;
  margin: 0 auto;
}

.about h2 {
  padding: var(--space-larger);
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
}

.advantages {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.advantages li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--space-medium);
}

.icon__box {
  height: 148px;
  width: 148px;
  position: relative;
  background-color: var(--color-light-greenblue);
  border-radius: 50%;
  color: white;
}

.fas.fa-tachometer-alt {
  background-color: transparent;
  font-size: var(--font-larger);
  position: absolute;
  top: 50px;
  right: 47px;
}

.fas.fa-laptop-house {
  background-color: transparent;
  font-size: var(--font-larger);
  position: absolute;
  top: 50px;
  right: 44px;
}

.fas.fa-tasks {
  background-color: transparent;
  font-size: var(--font-larger);
  position: absolute;
  top: 50px;
  right: 50px;
}

.fas.fa-handshake {
  background-color: transparent;
  font-size: var(--font-larger);
  position: absolute;
  top: 50px;
  right: 44px;
}

.advantages li h3 {
  color: var(--color-grey);
  padding: var(--space-small);
}

.advantages li p {
  color: var(--color-grey);
  font-size: var(--font-small);
  font-weight: var(--weight-lighter);
  padding: 0 0 calc(var(--space-larger) * 1.5) 0;
}

.profile {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.profile__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.profile__left img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.profile__left h3 {
  padding: var(--space-regular) 0;
  font-weight: var(--weight-bold);
}

.profile__left p {
  font-size: var(--font-small);
  color: var(--color-grey);
  font-weight: var(--weight-lighter);
}

.profile__right {
  width: 50%;
  height: 240px;
}
.profile__right ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}

.profile__right li {
  width: 100%;
  display: flex;
  position: relative;
  line-height: 32px;
  height: var(--space-medium);
  background-color: var(--color-light-grey);
}

.profile__right span {
  position: absolute;
  right: 0;
}

.skill div {
  height: 100%;
}

div.skill__name {
  width: 20%;
  text-align: center;
  background-color: var(--color-light-greenblue);
  color: white;
}

.skill__html {
  width: 30%;
  background-color: var(--color-deep-greenblue);
}

.skill__css {
  width: 30%;
  background-color: var(--color-deep-greenblue);
}

.skill__javascript {
  width: 8%;
  background-color: var(--color-deep-greenblue);
}

.skill__react {
  width: 3%;
  background-color: var(--color-deep-greenblue);
}

.skill__python {
  width: 3%;
  background-color: var(--color-deep-greenblue);
}

/* Projects */

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: var(--color-light-grey);
}

.projects h2 {
  padding: var(--space-larger);
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
}

.project__bar {
  display: flex;
  width: 375px;
  justify-content: space-around;
}

.project__bar li {
  width: 30%;
  padding: var(--space-micro);
  text-align: center;
  font-weight: var(--weight-lighter);
}

.project__bar li:hover {
  background-color: var(--color-deep-pink);
}

.project__image img {
  width: 240px;
  heigth: 240px;
}

/* Contact */

.contact {
  width: 100%;
  background-color: var(--color-deep-blueblack);
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-white);
}

.contact h2 {
  padding: var(--space-larger);
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
}

.contact__route p {
  padding: calc(var(--space-micro) / 2) 0;
  font-size: var(--space-regular);
}
